################################################################################
#
# .bash_local: local and unsynced bash configurations
#
################################################################################

# ALIASES

# ENVIRONMENT VARIABLES

# PATH
export PATH=$HOME/.local/bin:$PATH
